@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.bg-transparent-gray {
    background-color: rgba(241, 235, 235, 0.2); /* Adjust the color and transparency as needed */
  }

  .bg-transparent-gray2 {
    background-color: rgba(241, 235, 235, 0.3); /* Adjust the color and transparency as needed */
  }